html {
    overflow-x: hidden;
}
body {
    padding: 1em;
}
section {
    display: grid;
    gap: 1em;
}
section article {
    width: 22.5em;
    text-align: center;
    padding: 1em;
    background-color: aliceblue;
}
.title {
    font-size: 1em;
    margin-top: 0.75em;
}
.author {
    font-size: 0.7em;
}
@media screen and (min-width: 280px){
    section {
        grid-template: "
            1fr 1fr 1fr 1fr
        ";
    }
}
